{% extends '../base.html' %}
{% block title %}extract code{% endblock %}
{% block content %}

<div class="text-center">
    <h1>Formatar JSON</h1>
    <form method="post" action="{% url 'format_json' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="texto">Texto:</label>
            <textarea class="form-control" name="texto" rows="4" required></textarea>
        </div>
        <div class="form-group">
            <label for="nome_arquivo">Nome do Arquivo:</label>
            <input type="text" class="form-control" name="nome_arquivo" required>
        </div>
        <button type="submit" class="btn btn-primary">Converter</button>
    </form>
</div>

{% endblock %}