{% extends '../base.html' %}
{% block title %}Tools{% endblock %}
{% block content %}

<div class="container mt-6 mb-5">

    <div class="row row-cols-lg-6 row-cols-md-6 row-cols-lg-6 g-6">
        <div class="col mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'extract_code' %}">
                            <h3>Extrair Massa</h3>
                        </a>
                    </h5>
                </div>
            </div>
            <br>
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'format_json' %}">
                            <h3>Formatar Json</h3>
                        </a>
                    </h5>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
